<h1 class="text-center"></h1>
<div class="container">
  <h1 class="text-center">Dummy Post Creator</h1>
  <form action="/admin/posts/dummy" method="post">
    <div class="form-group">
      <input name="amount" type="number" class="form-control" id="exampleInputPassword1" placeholder="Amount of posts">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h1 class="text-center">Analytic</h1>
  <canvas id="myChart"></canvas>
</div>