{{> admin/header}}
<div class="ui segment ">
  <p></p>
  <div class="ui active">
    <div class="ui loader"></div>
  </div>
  {{> admin/nav}}
  {{>admin/session}}
  {{{body}}}
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
{{> admin/footer}}