{{#if error}}
<div class="container">
    <div class="alert alert-danger">
        {{error}}
    </div>
</div>
{{/if}}


{{#if success}}
<div class="container">
    <div class="alert alert-success">
        {{success}}
    </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="container">
    <div class="alert alert-danger">
        {{error_msg}}
    </div>
</div>
{{/if}}